.ComaroundDIVStandard {
    margin-bottom: 20px;
}

    .ComaroundDIVStandard .ComaroundHeadingStandard {
        margin: 0 5px;
        background-image: url("https://www.comaround.com/wp-content/uploads/2016/10/cropped-comaround_symbol_red_webb-2-270x270.png");
        background-repeat: no-repeat;
        background-size: 32px;
        padding-left: 36px;
        line-height: 36px;
        vertical-align: middle;
    }

    .ComaroundDIVStandard .ComaroundExtendedSearchStandard {
        padding: 5px;
        margin: 0 0 2px 0;
        text-align: right;
    }

    .ComaroundDIVStandard .ComaroundTableStandard > tbody > tr > td {
        background-position: 5px center;
        background-repeat: no-repeat;
        padding: 5px 5px 5px 5px;
        width: 100%;
        white-space: normal;
        border-left: 0;
        border: 1px solid #BBB7A1;
        /*background-image: url("icons/logo-comaround-td.png");*/
        /*padding: 5px 5px 5px 30px;*/
    }

#SSN-Plugins-Comaround-Popup, .bMulti {
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999999;
    color: #111111;
    display: none;
    min-width: 600px;
    padding: 25px;
    min-height: 450px;
    top: 10px;
}

#SSN-Plugins-Comaround-Popup, .b-iframe {
    position: absolute;
    min-height: 450px;
    min-width: 600px;
    top: 10px;
}

.bpopupbutton.bClose {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}

.bpopupbutton {
    background-color: #2B91AF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

    .OpenNewPage,
    .bpopupbutton.bClose.SolveRequest {
        background-color: #2B91AF;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        font: bold 131% sans-serif;
    }

.OpenNewPage {
    position: relative;
    top: 442px;
}

.bpopupbutton.bClose.SolveRequest {
    position: relative;
    top: 442px;
    left: 10px;
}

#OpenNewPageLink {
    text-decoration: none;
    color: #FFFFFF;
}

.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #2B91AF;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12px Arial;
    z-index: 6;
}
