﻿<script type="text/javascript" src="template.js"></script>
<template class="SSN-Plugins-Comaround-Popup-Template">
    <div id="SSN-Plugins-Comaround-Popup" style="left: 597.5px; position: absolute; top: 1283.5px; z-index: 9999; display: none;">
        <span class="bpopupbutton bClose">
            <span id="closeButton">X</span>
        </span>
        <div class="popupContent"></div>
        <span class="OpenNewPage">
            <a id="OpenNewPageLink" href="#" target="_blank"></a>
        </span>
        <span class="bpopupbutton bClose SolveRequest">
            <span id="SolveRequestLink"></span>
        </span>
    </div>
</template>
<script>
    (function () {

        var MarvalSoftware = window.top.MarvalSoftware;
        var $ = window.top.$;

        MarvalSoftware.Plugins.define("SSN-Plugins-Comaround",
            {
                _pluginPath: null,
                _element: null,
                _messageElement: null,
                _globalSettings: null,
                _currentUserCiid: null,
                _page: null,

                init: function () {
                    document.addEventListener('DOMContentLoaded', function () {

                        /* Get current User Ciid */
                        this._getCurrentUserCiid();

                        /* Get global settings */
                        this._getGlobalSettings();

                        /* Get page */
                        this._page = MarvalSoftware.UI.Controls.ScriptManager.getInstance().getPage();

                        /* Get eventManager */
                        var _eventManager = MarvalSoftware.UI.Dom.EventManager.getInstance();

                        /* Append popup element */
                        var popupTemplate = document.querySelector('.SSN-Plugins-Comaround-Popup-Template').content;
                        var popupEmlement = window.top.document.importNode(popupTemplate, true);
                        window.top.document.querySelectorAll('body')[0].appendChild(popupTemplate);


                        /*
                            Rewrite _initiateSearches and _setIndicatorVisibility functions
                            So it will search in comaround and show result even there is only match in comaround
                        */
                        var _knowledgeMatcher = this._page._knowledgeMatcher;
                        var initiateSearchesOld = _knowledgeMatcher._initiateSearches;
                        _knowledgeMatcher._initiateSearches = this._initiateSearches.bind(this);

                        var setIndicatorVisibilityOld = _knowledgeMatcher._setIndicatorVisibility;
                        _knowledgeMatcher._setIndicatorVisibility = this._setIndicatorVisibility.bind(this);


                    }.bind(this));
                },

                _setIndicatorVisibility: function () {
                    /// <summary>
                    /// Show or hides the knowledge match indicator as appropriate.
                    /// </summary>

                    var _knowledgeMatcher = this._page._knowledgeMatcher;

                    _knowledgeMatcher._tray.getItem("knowledgeMatcher").setVisibility(_knowledgeMatcher._noOfMatchingRequestResults >= 0 || _knowledgeMatcher._noOfErrorControlResults >= 0);
                },

                _initiateSearches: function (getMatchingRequests, getKnownErrors) {
                    /// <summary>
                    /// Initiates searches for request matching and error control.
                    /// </summary>
                    /// <param name="getMatchingRequests">Whether or not to get matching requests.</param>
                    /// <param name="getKnownErrors">Whether or not to get known errors.</param>

                    var _knowledgeMatcher = this._page._knowledgeMatcher;
                    var _local = this;

                    if (getMatchingRequests || getKnownErrors) {
                        // set "last search" variables
                        if (getKnownErrors) {
                            _knowledgeMatcher._lastSearchServiceId = _knowledgeMatcher._servicePicker.getValue().Identifier;
                            _knowledgeMatcher._lastSearchText = _knowledgeMatcher._requestDescriptionElement.value;
                        }

                        // search
                        MarvalSoftware.UI.Controls.KnowledgeMatcher.GetMatchingRequestsAndKnownErrors(
                            getMatchingRequests,
                            getKnownErrors,
                            _knowledgeMatcher._requestId,
                            _knowledgeMatcher._requestDescriptionElement.value,
                            _knowledgeMatcher._servicePicker._getSubServiceIds(),
                            _knowledgeMatcher._getClassificationIds(),
                            _knowledgeMatcher._relatedCIs.getRelatedConfigurationItems().select(function (ci) { return ci.Identifier; }),
                            MarvalSoftware.createDelegate(function (result) {
                                if (getMatchingRequests) {
                                    _knowledgeMatcher._processMatchingRequests(result.MatchingRequests);
                                }
                                if (getKnownErrors) {
                                    _knowledgeMatcher._processKnownErrors(result.KnownErrors);
                                }

                                // search in comaround
                                _local._searchInComaround(_knowledgeMatcher._requestDescriptionElement.value);

                                // show/hide display
                                if (_knowledgeMatcher._noOfMatchingRequestResults >= 0 || _knowledgeMatcher._noOfErrorControlResults >= 0) {
                                    _knowledgeMatcher._showDisplay();
                                } else {
                                    _knowledgeMatcher._hideDisplay();
                                }
                            }, _knowledgeMatcher),
                            null,
                            false
                        );
                    }
                },

                _searchInComaround: function (keyword) {
                    $.ajax({
                        type: "GET",
                        url: this._getPluginPath() + "Handler/ComaroundHandler.ashx?f=Search&keyword=" + encodeURI(keyword) + "&type=Standard",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (result) {
                            this._processComaroundResult(result, "Standard");
                        }.bind(this)
                    });
                },

                _processComaroundResult: function (data, type) {

                    var _knowledgeMatcher = this._page._knowledgeMatcher;
                    var _global = this;

                    // Clean old result first
                    $(".ComaroundDIV" + type).remove();

                    // Show popup
                    if (data.result.length > 0) {
                        _knowledgeMatcher._showDisplay();
                    }

                    // Get KeylessUser
                    var isKeylessUsers = false;
                    if ($.inArray(_global._currentUserCiid.toString(), _global._globalSettings.KeylessUsers.split(';')) >= 0) {
                        isKeylessUsers = true;
                    }

                    // Comaround DIV
                    var comaroundContent = document.createElement("DIV");
                    comaroundContent.className = "ComaroundDIV" + type;
                    $(".knowledgeMatchDisplay .innerContent").append(comaroundContent);

                    // Header
                    var heading = document.createElement("H2");
                    heading.className = "ComaroundHeading" + type;
                    heading.innerHTML = this._globalSettings.ResultHeaderText;
                    $(".ComaroundDIV" + type).append(heading);

                    // Table
                    var comaroundTable = document.createElement("TABLE");
                    comaroundTable.className = "ComaroundTable" + type;
                    $(".ComaroundDIV" + type).append(comaroundTable);

                    // TBODY
                    var comaroundTBody = document.createElement("TBODY");
                    comaroundTBody.className = "ComaroundTBODY" + type;
                    $(".ComaroundTable" + type).append(comaroundTBody);

                    // Build table
                    $.each(data.result, function (key, val) {
                        // TR
                        var comaroundTR = document.createElement("TR");
                        comaroundTR.className = "ComaroundTR" + type + key;
                        $(".ComaroundTBODY" + type).append(comaroundTR);

                        // TD 1
                        var comaroundTD1 = document.createElement("TD");
                        comaroundTD1.className = "ComaroundTD" + type;
                        comaroundTD1.id = val.id;
                        if (isKeylessUsers) {
                            comaroundTD1.innerHTML = "<a href=\"" + _global._globalSettings.ComaroundAddress + val.url + "\" title=\"" + val.body + "\">" + val.title + "</a>";
                        } else {
                            comaroundTD1.innerHTML = "<a href=\"" + _global._globalSettings.ComaroundAddress + val.url + '&key=' + _global._globalSettings.ComaroundClientKey + "\" title=\"" + val.body + "\">" + val.title + "</a>";
                        }
                        $(".ComaroundTR" + type + key).append(comaroundTD1);

                        // TD 2
                        var comaroundTD2 = document.createElement("TD");
                        comaroundTD2.innerHTML = val.relevance;
                        $(".ComaroundTR" + type + key).append(comaroundTD2);
                    });

                    // Extended searach
                    var ComaroundExtendedSearch = document.createElement("DIV");
                    ComaroundExtendedSearch.className = "ComaroundExtendedSearch" + type;
                    if (isKeylessUsers) {
                        ComaroundExtendedSearch.innerHTML = "<a href=\"" + _global._globalSettings.ComaroundAddress + "\" target=\"_blank\">" + _global._globalSettings.ExtendSearchLinkText + "</a>";
                    } else {
                        ComaroundExtendedSearch.innerHTML = "<a href=\"" + _global._globalSettings.ComaroundAddress + "/Account/PrivateLogOn?Key=" + _global._globalSettings.ComaroundClientKey + "\" target=\"_blank\">" + _global._globalSettings.ExtendSearchLinkText + "</a>";
                    }
                    $(".ComaroundDIV" + type).append(ComaroundExtendedSearch);

                    $(".ComaroundDIVStandard a").click(function (event) {
                        $("#SSN-Plugins-Comaround-Popup").bPopup({
                            content: 'iframe',
                            contentContainer: '.popupContent',
                            escClos: true,
                            iframeAttr: (scrolling = "yes"),
                            loadUrl: $(this).attr('href') //Uses jQuery.load()
                        });

                        $("#OpenNewPageLink").attr("href", $(this).attr('href')); // new page link
                        $("#OpenNewPageLink").text(_global._globalSettings.OpenInNewPageButtonText); // new page link text
                        $("#SolveRequestLink").text(_global._globalSettings.SolveRequestButtonText); // solve request link text

                        $(".knowledgeMatchDisplay .pinOut", window.parent.document.body).click(); // fix message box

                        if ($(this).attr('href') == _global._globalSettings.ComaroundAddress + "Account/PrivateLogOn?Key=" + _global._globalSettings.ComaroundClientKey) {
                            $(".SolveRequest").hide();
                        } else {
                            // Solve request
                            if (_knowledgeMatcher._canBeSolved) {
                                $(".SolveRequest").show();
                                $("#SolveRequestLink").click(function () {
                                    if (_knowledgeMatcher._canBeSolved || _knowledgeMatcher._canBeFixed) {
                                        _knowledgeMatcher._workflowStatusPicker.advanceToSolvedState();
                                        var solvingLink;
                                        if (isKeylessUsers) {
                                            solvingLink = $("#OpenNewPageLink").attr("href") + '&key=' + _global._globalSettings.ComaroundClientKey;
                                        } else {
                                            solvingLink = $("#OpenNewPageLink").attr("href");
                                        }
                                        _knowledgeMatcher._solution.setValue(_global._globalSettings.SolutionPrefix + " <a href='" + solvingLink + "'>" + solvingLink + "</a>");
                                        //Set _requestPropertyTracking for solution to 1
                                        _global._page._requestPropertyTracking.Solution = 1;

                                        //Set classifications when solving request
                                        _global._setClassifications();
                                    }
                                });
                            } else {
                                $(".SolveRequest").hide();
                            }
                        }
                        return false;
                    });


                    // Add hover function to preview guide
                    $('.ComaroundDIV' + type + ' a').hover(function () {
                        // Hover over code
                        var title = $(this).attr('title');
                        if (title.length > 0) {
                            $(this).data('tipText', title).removeAttr('title');
                            $('<p class="tooltip"></p>')
                                .html(title)
                                .appendTo('body')
                                .fadeIn('slow');
                        }
                    }, function () {
                        // Hover out code
                        $(this).attr('title', $(this).data('tipText'));
                        $('.tooltip').remove();
                    }).mousemove(function (e) {
                        var mousex = e.pageX + 20; //Get X coordinates
                        var mousey = e.pageY + 10; //Get Y coordinates
                        $('.tooltip')
                            .css({ top: mousey, left: mousex })
                    });

                },

                _setClassifications: function () {
                    var classifications = JSON.parse(this._globalSettings.ClassificationWhenSolving.replace(/'/g, "\""));
                    for (var i = 0; i < this._page._classificationPickers.length; i++) {
                        var dictionaryId = this._page._classificationPickers[i].getDictionaryId();
                        if (dictionaryId in classifications) {
                            this._page._classificationPickers[i].setValue(classifications[dictionaryId]);
                            //Set _requestPropertyTracking for classification to 1
                            this._page._requestPropertyTracking.Dictionaries[dictionaryId] = 1;
                        }
                    }
                },

                /* Get current user */
                _getCurrentUserCiid: function () {
                    $.ajax({
                        type: "GET",
                        url: this._getPluginPath() + "handler/GetCurrentUserInfo.ashx?type=ciid",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (result) {
                            this._currentUserCiid = result;
                        }.bind(this)
                    });
                },

                /* Get global settings to json */
                _getGlobalSettings: function () {
                    $.ajax({
                        type: "GET",
                        url: this._getPluginPath() + "Handler/GetGlobalSettings.ashx?GetGlobalSettings=true",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (result) {
                            this._globalSettings = result;
                        }.bind(this)
                    });
                },

                /* Get plugin path */
                _getPluginPath: function () {
                    return this.attributes["data-pluginpath"].value;
                },

                /* Get url parameter */
                _getURLParameter: function (name) {
                    return decodeURI(
                        (RegExp(name + '=' + '(.+?)(&|$)').exec(window.top.location.search) || [, null])[1]
                    );
                },
            });
    })();
</script>